/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos generales*/

body {
    background-color: #f6ede2;
    font-family: Roboto;
    min-height: 100vh; /* Para que ocupe toda la pantalla */
    display: flex;
    flex-direction: column;
    
}

.estado-activo{
    font-weight: bolder;
}

/* estilos mobile */

header .descripcion{
    background-color: #563008;
    color: white;
    text-align: center;
    font-size: small;
    padding: 0.5rem;
    position: relative;
}

header .menu{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin: 0.5rem;
}

header img{
    width: 10%;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center
}

header nav ul li a{
    text-decoration: none;
    color: #563008;
    font-size: small;
}

/* Estilos del main */
main {
    flex: 1; /* Para que el main ocupe todo el espacio restante */
    row-gap: 2rem;
     
}

main .intro {
    display: flex;
    flex-direction: column;
    background-color: #EED0C8;
    color:#563008;
    padding: 1.5rem;
    gap: 1rem;
    margin-bottom: 2rem; /* Espacio entre secciones */
    
}

main section p{
    text-align: center;
}

main h1{
    color: #563008;
    text-align: center;
    padding: 1rem;
}

main h2{
    color: #563008;
    text-align: center;
}

main section img{
    width: 60%;
    height: auto;
}

main .recientes{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color:whitesmoke;
    color:#563008;
    padding: 1.5rem;
    margin-bottom: 2rem; /* Espacio entre secciones */
    margin: 1rem;
}

.recientes a{
    text-decoration: none;
    font-weight: bold;
    color: palevioletred;
}

main .favs{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color:white;
    color:#563008;
    padding: 1.5rem;
    margin-bottom: 2rem; /* Espacio entre secciones */
    margin: 1rem;
}

.favs a{
    text-decoration: none;
    font-weight: bold;
    color: #F0AB0F;
}

.informacion-extra{
    display: none;
}

.informacion-extra-platos{
    display: none;
}



main .tienda{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color:white;
    color:#563008;
    padding: 1.5rem;
    margin-bottom: 1rem;
    margin: 1rem;
}

.tienda a{
    text-decoration: none;
    font-weight: bold;
    color: palevioletred;
}

.video-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 30vh;
    background-color:#F0AB0F;
    margin: 1rem;
}
video {
    max-width: 100%; 
    height: auto; 
}

main .acerca-de{
    display: flex;
    padding: 1rem;
}



/* Estilos de footer */
footer{
    text-align: center;
    background-color: #563008;
    color: white;
    position: relative;
    padding: 0.5rem;
    font-size: small;
}


/* Estilos para el bootstrap */

/* Ajustes del header */

header .descripcion-acerca-de {
    background-color: #563008;
    color: white;
    text-align: center;
    font-size: small;
    padding: 0.5rem;
    position: relative;
    height: 4vh;
}

header .descripcion-acerca-de {
    margin-bottom: 0;
}

header .menu-acerca-de {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header .menu-acerca-de .menu-navegacion ul{
    margin-bottom: 0;
}

header .menu-acerca-de img {
    width: 10%;
}

main #acerca-de{

    padding: 1rem;
    background-color:#b68104;
    color: white;
    font-size: medium;
}

main .form .titulo {
    margin-top: 3rem;
}

main .form div .pink-color{
    background-color: palevioletred;
    margin-bottom: 3rem;
    border-color:rgb(179, 35, 59);
}





/* Ajuste para el footer */

.footer {
    text-align: center;
    background-color: #563008;
    color: white;
    position: relative;
    font-size: small;
    height: 3.4vh;
    margin-bottom: 0;
}





/* Estilos tablet */

@media screen and (min-width:600px) {


    header .menu{
        justify-content: space-around;
    }

    header .descripcion{
        font-size: larger;
    }

    header img{
        width: 15%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,auto) ;
    }

    main .intro{
        grid-column: span 2;
    }

    main section img{
        width: auto;
        height: 15vh;
        align-items: center;
        margin-bottom: 1rem;
    }

    main section a{
        margin-top: 1rem;
    }

    main h1{
        grid-column: span 2;
    }

    

    header nav ul li a{
        font-size: large;
    }

    .informacion-extra{
        display: grid
    }

    main .informacion-extra{
        grid-column: span 2;
        background-color: #A0887C;
        padding-top: 1rem;
        justify-content: center;

    }

    main .informacion-extra h2{
        color: black;
    }

    main .informacion-extra img{
        width: 100%;
        height: auto;
        padding: 4rem;
        
    }

    .informacion-extra-platos{
        display: grid;
        grid-template-rows: 1fr 0.8fr 0.3fr;
        grid-column: span 2;
    }

    main .informacion-extra-platos div{
        margin: 0.5rem;
        background-color: #A0887C;
        padding: 1rem;
    }

    main .informacion-extra-platos div p{
        text-align:start;
    }


    /* Estilos para el bootstrap */

    header .descripcion-acerca-de {
        background-color: #563008;
        color: white;
        text-align: center;
        font-size: large;
        padding: 0.5rem;
        position: relative;
        height: 5vh;
    }
    
    header .descripcion-acerca-de {
        margin-bottom: 0;
    }
    
    header .menu-acerca-de {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    header .menu-acerca-de .menu-navegacion ul{
        margin-bottom: 0;
    }
    
    header .menu-acerca-de img {
        width: 15%;
    }
    
    main #acerca-de{
        padding: 1rem;
        background-color:#b68104;
        color: white;
        font-size: medium;
        height: fit-content;
        grid-column: span 2;
    }

    main .form{
        grid-column: span 2;
    }
    
    main .form .titulo {
        margin-top: 3rem;
    }
    
    main .form div .pink-color{
        background-color: palevioletred;
        margin-bottom: 3rem;
    }
    
    .video-container{
        grid-column: span 2;
        height: 50vh;
    }

    video{
        height: 38vh;
        width: auto;
    }

    
    /* Ajuste para el footer */
    
    .footer {
        text-align: center;
        background-color: #563008;
        color: white;
        position: relative;
        font-size: large;
        height: 5vh;
    }

}


/* Estilos desktop */
@media screen and (min-width:1024px){

    header .descripcion{
        font-size: small;
    }


    header img{
        width: 10%;
    }

    header .menu{
        justify-content: space-between;
        height: 10vh;
        padding-right: 50px;
        padding-left: 50px;
    }

    header .menu nav ul li{
        padding-left: 4rem;
    }

    /* Estilos para el bootstrap */

    header .descripcion-acerca-de {
        background-color: #563008;
        color: white;
        text-align: center;
        font-size: small;
        padding: 0.5rem;
        position: relative;
        height: 5vh;
    }
    
    header .menu-acerca-de {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        padding-right: 50px;
        padding-left: 50px;
    }

    header .menu-acerca-de .menu-navegacion ul{
        display: flex;
        gap: 80px;
    }
    
    header .menu-acerca-de img {
        width: 10%;
    }

    
    .video-container{
        grid-column: span 1;
        height: 50vh;
    }

    video{
        height: 35vh;
        width: auto;
    }

    main #acerca-de{
        margin-top: 7rem;
        grid-column: span 1;
    }

    .form{
        margin: 4rem;
    }

    .informacion-extra-platos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 0.5fr;
    }

    .informacion-extra-platos .extra{
        grid-column: span 2;

    }
    
    /* Ajuste para el footer */
    
    .footer {
        text-align: center;
        background-color: #563008;
        color: white;
        position: relative;
        font-size: small;
        height: 5vh;
    }




}