@import '../utilidades/variables';
@import '../utilidades/mixin';
@import '../utilidades/listas';


main{
    section{
        div{
            .pink-color:active {
                background-color: nth($lista-colores,7);
                color: nth($lista-colores,4);
            }

            .pink-color{
                background-color: nth($lista-colores,3);
                border: $color-principal;
                transition: background-color 0.3s ease;
            }

            .pink-color:hover{
                background-color: nth($lista-colores,9);
                color: nth($lista-colores,4);
            }
        }
    }
    .video-container{
        @include video;
    }
    section{
        #acerca-de{
            background-color: $color-principal;
            border: $color-principal solid 10px;            
        }

    }
    

}