@import '../utilidades/variables';
@import '../utilidades/mixin';
@import '../utilidades/listas';


header {
    .descripcion{
        display:none;
    }
    .estilo-navbar{
        background-color: $color-principal;
        div{
            .hamburguesa{
                color:nth($lista-colores,3) ;
            }
            .estilo-nav{
                color: nth($lista-colores,7);
                background-color: $color-principal;
                div{
                    ul{
                        li{
                            .pink-hover:hover{
                                background-color: nth($lista-colores,3);
                                color: nth($lista-colores, 4);
                            }
                        }
                    }
                }
            }
        }
    }
}

main{
    div{
        div{
            div{
                .estilo-card{
                    border-width: thin;
                    border-color: nth($lista-colores,2);
                    .imagen-c{
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                    }
                    div{
                        .button:active {
                            background-color: nth($lista-colores,7);
                            color: nth($lista-colores,4);
                        }

                        .button{
                            background-color: nth($lista-colores,3);
                            border: $color-principal;
                            transition: background-color 0.3s ease;
                        }

                        .button:hover{
                            background-color: nth($lista-colores,9);
                            color: nth($lista-colores,4);
                        }

                        
                    }
                }
            }
        }
    }
    div{
        .intro{
            background-color: nth($list: $lista-colores, $n: 8);
            h2{
                .intro-boton{
                    background-color: $color-principal;
                }
            }
        }
    }
}

.brown-bg{
    background-color: nth($list: $lista-colores, $n:2 );
}