@import '../utilidades/variables';
@import '../utilidades/mixin';
@import '../utilidades/listas';


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos generales*/
.body-estilo{
    background-color: nth($lista-colores,1);
    font-family: Roboto;
    min-height: 100vh; /* Para que ocupe toda la pantalla */
    display: flex;
    flex-direction: column;
}